 div {
  color: rgb(0, 0, 0);
  background-color: rgba(231, 166, 166, 0.815);
} 
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: rgb(241, 200, 200);
  color: rgb(0, 0, 0);
  }
